/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: ARFont;
  src: url('../res/Fonts/WatcherPersonalUseBold-BWexB.ttf') format('truetype');
  font-display: swap;
}

/* Estilos comunes */
body {
  background: url('../res/Backgrounds/studio-background-blur.webp');
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 1.6;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;

}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  background-color: #00000088;
}

.info-adicional {
  color: #888888;
}

#artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

#artist-card {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 25px;
}

.img-artista {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

h3 {
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 10px;
  text-shadow: 
    0 0 5px #884FFC,
    0 0 10px #884FFC,
    0 0 20px #884FFC,
    0 0 40px #884FFC,
    0 0 80px #884FFC;
  transition: color 0.3s ease;
}

/* Modo oscuro (por defecto) */
body {
  color: #eeeeee;
}

header {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5284488795518207) 35%, rgba(0,0,0,1) 80%);
}

.modal {
  color: rgb(0, 0, 0);
  justify-content: center;
  width: 80%;
}

.demo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.modal img {
  width: 5rem;
  height: auto;
  border-radius: 10px;
}

.demo-cover {
  width: 5rem;
  height: auto;
}

.demo-info {
  width: 100%;
}

.demo-player audio{
  width: 100%;
  justify-content: center;
}

.nav a {
  color: #ffffff;
}

.nav a:hover {
  color: #6b4e91;
}

.social-icons a img {
  width: 24px;
  margin-left: 8px;
  margin-right: 8px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  user-select: none;
}

.logo img {
  width: 200px;
  -webkit-user-drag: none;
}


.nav {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 60px;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
  transition: color 0.6s ease;
}

.social-icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  transition: color 0.6s ease;
}

/* Estilos para la galería de covers */
.lanzamientos {
  text-align: center;
  padding: 5px;
}

.cover-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}

.cover {
  width: 100%;
  max-width: 300px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
  -webkit-user-drag: none;
}

.cover:hover {
  transform: scale(1.05);
  cursor: default;
}

.lanzamientos h1 {
  font-family: ARFont;
  font-weight: lighter;
  font-size: 6rem;
  margin-top: 20px;
  margin-bottom: 10px;
  transition: color 0.3s ease;
  text-shadow: 
  -2px -2px 0 #000, 
   2px -2px 0 #000, 
  -2px  2px 0 #000, 
   2px  2px 0 #000;
}

.acerca-de p{
  font-size: 1.3rem;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.acerca-de h1 {
  font-family: ARFont;
  text-align: center;
  font-weight: lighter;
  font-size: 6rem;
  margin-top: 20px;
  margin-bottom: 10px;
  text-shadow: 
    -2px -2px 0 #000, 
     2px -2px 0 #000, 
    -2px  2px 0 #000, 
     2px  2px 0 #000;
}

.servicios {
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 0px;
  display: flex;
  flex-wrap: wrap;
}

.servicios h1 {
  font-family: ARFont;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: color 0.3s ease;
  color: #9e78e4;
}

#servicio {
  width: 400px;
  height: auto;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  background-color: #00000098;
}

#recomendado {
  margin-top: 5px;
  text-shadow: 
    0 0 5px #ffffff
}

#imagen {
  margin-top: 40px;
  max-width: 30%;
  height: auto;
  border-radius: 5px;
}

.redes-artista {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 10px;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.233);
}

.redes-artista a img {
  width: 60px;
  margin-top: 3px;
  transition: transform 0.3s ease;  
}

.redes-artista a img:hover {
  transform: scale(1.2);
}

/* Media Queries para hacer el diseño responsive */
@media (max-width: 1200px) {
  .cover {
    max-width: 300px;
  }

  .lanzamientos h1 {
    font-size: 5rem;
  }

  .acerca-de h1 {
    font-size: 5rem;
  }

  .logo img {
    width: 170px;
  }

  #artists {
    gap: 10px;
  }


}

@media (max-width: 768px) {
  .cover {
    max-width: 220px;
  }

  #imagen {
    margin-top: 40px;
    max-width: 80%;
    height: auto;
  }

  .lanzamientos h1 {
    font-size: 4rem;
  }

  .acerca-de h1 {
    font-size: 3.8rem;
  }

  .logo img {
    width: 160px;
  }

  #artists {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .cover {
    max-width: 160px;
  }

  #imagen {
    margin-top: 40px;
    max-width: 80%;
    height: auto;
  }

  .lanzamientos h1 {
    font-size: 3rem;
  }

  .acerca-de h1 {
    font-size: 2.8rem;
  }

  .logo img {
    width: 150px;
  }

  #artists {
    gap: 10px;
  }
}

/* Header Responsive */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .logo {
    justify-content: center;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    gap: 1rem;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
  }
  
}