/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: ARFont;
  src: url('res/Fonts/Neonsign\ Regular.ttf') format('truetype');
}

/* Estilos comunes */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  transition: background-color 0.3s ease, color 1s ease;
}

/* Modo oscuro (por defecto) */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

header.dark-mode {
  background-color: #1c1c1c;
}

.nav a.dark-mode {
  color: #ffffff;
}

.nav a.dark-mode:hover {
  color: #f39c12;
}

.social-icons a img {
  width: 24px;
  margin-left: 10px;
}

.lanzamientos.dark-mode h1 {
  color: #ffffff;
}

/* Modo claro */
body.light-mode {
  background-color: #ffffff;
  color: #121212;
}

header.light-mode {
  background-color: #f4f4f4;
}

.nav a.light-mode {
  color: #121212;
}

.nav a.light-mode:hover {
  color: #f39c12;
}

.lanzamientos.light-mode h1 {
  color: #121212;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1c1c1c;
  transition: background-color 0.3s ease, color 0.6s ease;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  user-select: none;
}

.logo img {
  width: 200px;
  -webkit-user-drag: none;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 60px;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: normal;
}

.nav a:hover {
  color: #f39c12;
}

.social-icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

/* Estilos para la galería de covers */
.lanzamientos {
  text-align: center;
  padding: 5px;
}

.cover-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 10px;
}

.cover {
  width: 100%;
  max-width: 300px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  user-select: none;
  -webkit-user-drag: none;
}

.cover:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.lanzamientos h1 {
  font-family: ARFont;
  font-size: 5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

.acerca-de p{
  padding-left: 50px;
  padding-right: 50px;
}

.acerca-de h1 {
  text-align: center;
  font-family: ARFont;
  font-size: 5rem;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Media Queries para hacer el diseño responsive */
@media (max-width: 1200px) {
  .cover {
    max-width: 300px;
  }

  .lanzamientos h1 {
    font-size: 4rem;
  }

  .acerca-de h1 {
    font-size: 4rem;
  }

  .logo img {
    width: 170px;
  }
}

@media (max-width: 768px) {
  .cover {
    max-width: 250px;
  }

  .lanzamientos h1 {
    font-size: 3rem;
  }

  .acerca-de h1 {
    font-size: 3rem;
  }

  .logo img {
    width: 160px;
  }
}

@media (max-width: 480px) {
  .cover {
    max-width: 160px;
  }

  .lanzamientos h1 {
    font-size: 2rem;
  }

  .acerca-de h1 {
    font-size: 2rem;
  }

  .logo img {
    width: 150px;
  }
}

/* Botón para alternar modo */
#mode-toggle {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#mode-toggle img {
  width: 30px;
  height: 30px;
}

#mode-toggle:hover {
  background-color: #e67e22;
}

/* Header Responsive */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .logo {
    justify-content: center;
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    gap: 1rem;
  }

  .nav.active {
    display: flex;
  }

  .social-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
  }
  
}
