/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos comunes */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  transition: background-color 0.3s ease, color 1s ease;
}

/* Modo oscuro (por defecto) */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

header.dark-mode {
  background-color: #1c1c1c;
}

.nav a.dark-mode {
  color: #ffffff;
}

.nav a.dark-mode:hover {
  color: #f39c12;
}

.social-icons a img {
  width: 24px;
  margin-left: 10px;
}

.lanzamientos.dark-mode h1 {
  color: #ffffff;
}

/* Modo claro */
body.light-mode {
  background-color: #ffffff;
  color: #121212;
}

header.light-mode {
  background-color: #f4f4f4;
}

.nav a.light-mode {
  color: #121212;
}

.nav a.light-mode:hover {
  color: #f39c12;
}

.lanzamientos.light-mode h1 {
  color: #121212;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1c1c1c;
  transition: background-color 0.3s ease, color 0.6s ease;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.logo img {
  width: 200px;
}

.nav {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 60px;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  color: #f39c12;
}

.social-icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

/* Estilos para la galería de covers */
.lanzamientos {
  text-align: center;
  padding: 10px;
}

.cover-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.cover {
  width: 100%;
  max-width: 350px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cover:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media Queries para hacer el diseño responsivo */
@media (max-width: 1200px) {
  .cover {
    max-width: 180px;
  }
}

@media (max-width: 768px) {
  .cover {
    max-width: 150px;
  }
}

@media (max-width: 480px) {
  .cover {
    max-width: 120px;
  }
}

.lanzamientos h1 {
  font-size: 2rem;
  margin-top: 70px;
  margin-bottom: 10px;
}

/* Botón para alternar modo */
#mode-toggle {
  background-color: #f39c12;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

#mode-toggle img {
  width: 30px;
  height: 30px;
}

#mode-toggle:hover {
  background-color: #e67e22;
}

/* Header Responsive */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .logo {
    justify-content: center;
  }

  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    gap: 1rem;
  }

  .nav.active {
    display: flex;
  }

  .social-icons {
    display: none;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .menu-toggle:hover {
    color: #f39c12;
  }
}
